
@{
    ViewBag.ItemsList = "ListItems";
}
@model StateManagmentLab.Models.item
<h2>ListItems</h2>

<form action="/Home/EditItem" method="post">
    Name:<input type="text" value="@Model.ItemName" name="Name" /><br />
    Description:<input type="text" value="@Model.Description" name="Description" /><br />
    Price:<input type="number" value="@Model.Price" name="Price" /><br />

    <input type="submit" value="Save Updates" />
</form>

