<form action="UserDetails" method="post">
    <p>User Name:</p><input name="UserName" type="text" />
    <p>Email:</p><input name="Email" type="email" />
    <p>Age:</p><input name="Age" int="age" />
    <p>Password</p><input name="Password" type="password" />



    <input type="submit" value="Register" />


</form>

